<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004345999852-62119ufuojq5i3j5pt4vj332g2jm69hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004345999852-62119ufuojq5i3j5pt4vj332g2jm69hk</string>
	<key>API_KEY</key>
	<string>AIzaSyCnkmw69lobX3vLov4UFgG7YQ_J0mAzU54</string>
	<key>GCM_SENDER_ID</key>
	<string>1004345999852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Malika.ChildDevelopment2</string>
	<key>PROJECT_ID</key>
	<string>childdev-71cc4</string>
	<key>STORAGE_BUCKET</key>
	<string>childdev-71cc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004345999852:ios:50711248ef5ab954fdc0c9</string>
</dict>
</plist>